<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=320; user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>KnowEat</title>
</head>
<body>
<img src="{%static 'images/KnowEat.png' %}">



<br><br><br>
<h1><a href="upload menu board">메뉴판 업로드</a>
    <p></p>
    <a href="Allergy setting">알레르기 음식 설정</a>
    <p></p>
    <a href="Local food recommend">현지 음식 추천</a>
    <p></p>
    <a href="taste setting">입맛 설정</a>
</h1>

</body>
</html>